<div class="container-fluid">
    <div data-ng-controller="ListNewsCtrl">
        <div class="containerTitle">
            <h4>Новости</h4>
        </div>
        <div class="container">
            <div class="select">
                <select data-ng-model="feedSrc" ng-click="loadFeed()">
                    <option ng-repeat="item in news" value="{{item.url}}">{{item.title}}</option>
                </select>
            </div>
            <form class="search">
                <div class="input-prepend pull-right">
                    <input type="search" name="" class="input" data-ng-model="buscarTexto" placeholder="Поиск"/>
                </div>
            </form>
        </div>
        <div class="container">
            <ul class="unstyled">
                <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:buscarTexto).length}} новых новостей</span>
                <li class="item" ng-repeat="feed in feeds  | filter:buscarTexto">
                    <img src="{{feed.image.__cdata | imgSplit}}">
                    <h5><a ui-sref="view-property({id:{{$index}}})">{{feed.title.__cdata}}</a></h5>
                    <p class="text-left">{{feed.description.__cdata | descriptionSplit | limitTo:50}} ...</p>
                    <span class="small">{{feed.pubDate.__cdata | date:'yyyy-MM-dd HH:mm'}}</span>
                    <button ui-sref="view-news({id:{{$index}}})">Читать даллее</button>
                </li>
            </ul>
        </div>
    </div>
</div>
